*.userprefs
*.user
bin
Configuration.Override.props
Configuration.OperatingSystem.props
obj
packages
.DS_Store
.nuget
*.nupkg
TestResult.xml
TestResult-*.xml
TestResult-*.csv
.vs/
.vscode/
.gradle/
Resource.designer.cs
logcat-*.txt
apk-sizes-*.txt
*.rawproto
*.binlog
*.ProjectImports.zip
*~
external/monodroid/
external/mono/
tests/api-compatibility/reference/*.dll
tests/api-compatibility/reference/*.cs
Novell
*.patch
*.keystore
/27 sept.txt
/28 sept.txt
/Android/Configs/config-dev.json
/Android/out
/UpgradeLog.htm
google-services.json
Android/config.json
DefaultTemplateApp/Properties/launchSettings.json
DefaultTemplateApp/Platforms/Android/AndroidManifest.xml

.idea




/DefaultTemplateApp/config.json
/DefaultTemplateApp/Platforms/Android/config.json
/DefaultTemplateApp/Resources/config.json
/DefaultTemplateApp/Resources/Raw/config.json
/DefaultTemplateApp/Platforms/iOS/Info.plist
/DefaultTemplateApp/keypass.txt
